@import "../../styles/mixins";

.dropdownLinks {
  list-style: none;
  padding: 0;
  height: 0;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  align-self: flex-start;
  margin: 0 auto;
  width: max-content;

  &Open {
    height: 117px;
    opacity: 1;
    pointer-events: all;
    margin-top: 20px;
  }

  &__link {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    a {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  @include media-breakpoint-up(sm) {
    &__link {
      font-size: 16px;
    }
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    margin: 0;
    top: 28px;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    border-top: black 2px solid;

    &Open {
      padding: 16px 12px;
      border-radius: 0 0 25px 25px;
      height: auto;
      background-color: #ffffff;
    }
  }
}
