@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import "./mixins.scss";
@import "./page-content.scss";
@import "./seminar.scss";
@import "./vebinar.scss";
@import "./contactpage.scss";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "SeoulHangang B";
  src: url("./fonts/subset-SeoulHangangB.woff2") format("woff2"),
    url("./fonts/subset-SeoulHangangB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SeoulHangang B";
  src: url("./fonts/subset-SeoulHangangB.woff2") format("woff2"),
    url("./fonts/subset-SeoulHangangB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SeoulHangang CB";
  src: url("./fonts/subset-SeH-CB.woff2") format("woff2"),
    url("./fonts/subset-SeH-CB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#__next {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: unset;
}
body {
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  /* margin: 0 10%; */
  margin: 0 10%;
  position: relative;
  min-height: 812px;
  height: 100%;
  @include media-breakpoint-up(lg) {
    margin: 0 7vw;
    padding-bottom: 10vh;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 4vw;
  }

  @include media-breakpoint-up(xxxl) {
    margin: 0 auto;
  }
}
body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  @include media-breakpoint-up(xxl) {
    overflow-x: visible;
  }
}
